<main>
	<div class="list">
		<div class="pokemon-list">
			<div class="pokemon {{pokemon.types['type1'].name}}-back" *ngFor="let pokemon of pokemonList">
					<div class="pokemon-image">
						<a [routerLink]="['/pokemon', pokemon.id]">
							<img [src]="'assets/images/heartgold-soulsilver/' + pokemon.id + '.png'" alt="{{ pokemon.id }}" />
						</a>
						</div>
					<div class="pokemon-info">
						<div class="name-id">
							<p class="pokeid">{{pokemon.pokeId}}</p>
							<h2 class="pokemon-name">{{pokemon.name}}</h2>
						</div>
						<div class="pokemon-types">
							<p class="btn-type {{pokemon.types['type1'].name}}">{{pokemon.types['type1'].name}}</p>
							<p class="btn-type {{pokemon.types['type2'].name}}" *ngIf="pokemon.types['type2']">{{pokemon.types['type2'].name}}</p>
						</div>
					</div>
			</div>
		</div>
	</div>
</main>
