<header>
    <nav class="nav">
        <div class="header-imgs">
            <img src="assets\images\logo.png" width="200" alt="Logo Pokedex">
            <img class="gengar" src="assets\images\gengar.png" width="70" alt="Gengar">
        </div>
        <ul class="nav-list">
            <li class="nav-item"><button class="btn btn-header all" id="all" (click)="showAll()">Show all</button></li>
            <li class="nav-item"><button class="btn btn-header normal" id="normal" (click)="filterList('normal')">Normal </button></li>
            <li class="nav-item"><button class="btn btn-header fire" id="fire" (click)="filterList('fire')">fire</button></li>
            <li class="nav-item"><button class="btn btn-header water" id="water" (click)="filterList('water')">water</button></li>
            <li class="nav-item"><button class="btn btn-header electric" id="electric" (click)="filterList('electric')">electric</button></li>
            <li class="nav-item"><button class="btn btn-header ice" id="ice" (click)="filterList('ice')">ice</button></li>
            <li class="nav-item"><button class="btn btn-header fighting" id="fighting" (click)="filterList('fighting')">fighting</button></li>
            <li class="nav-item"><button class="btn btn-header poison" id="poison" (click)="filterList('poison')">poison</button></li>
            <li class="nav-item"><button class="btn btn-header ground" id="ground" (click)="filterList('ground')">ground</button></li>
            <li class="nav-item"><button class="btn btn-header flying" id="flying" (click)="filterList('flying')">flying</button></li>
            <li class="nav-item"><button class="btn btn-header psychic" id="psychic" (click)="filterList('psychic')">psychic</button></li>
            <li class="nav-item"><button class="btn btn-header bug" id="bug" (click)="filterList('bug')">bug</button></li>
            <li class="nav-item"><button class="btn btn-header rock" id="rock" (click)="filterList('rock')">rock</button></li>
            <li class="nav-item"><button class="btn btn-header ghost" id="ghost" (click)="filterList('ghost')">ghost</button></li>
            <li class="nav-item"><button class="btn btn-header dark" id="dark" (click)="filterList('dark')">dark</button></li>
            <li class="nav-item"><button class="btn btn-header dragon" id="dragon" (click)="filterList('dragon')">Dragon</button></li>
            <li class="nav-item"><button class="btn btn-header steel" id="steel" (click)="filterList('steel')">steel</button></li>
            <li class="nav-item"><button class="btn btn-header fairy" id="fairy" (click)="filterList('fairy')">fairy</button></li>
        </ul>
        <div>
            <input type="text" name="PokeSearch" id="PokeSearch" placeholder="Enter name" (keyup.enter)="searchPoke($event)">
        </div>
    </nav>
</header>

<main>
	<div class="list">
		<div class="pokemon-list">
			<div class="pokemon {{pokemon.types['type1'].name}}-back" *ngFor="let pokemon of pokemonList">
					<div class="pokemon-image">
						<button class="poke-sprite" (click)="openPopup(pokemon)">
                            <img [src]="'assets/images/heartgold-soulsilver/' + pokemon.id + '.png'" />
                        </button>
					</div>
					<div class="pokemon-info">
						<div class="name-id">
							<p class="pokeid">{{pokemon.pokeId}}</p>
							<h2 class="pokemon-name">{{pokemon.name}}</h2>
						</div>
						<div class="pokemon-types">
							<button class="btn-type {{pokemon.types['type1'].name}}" (click)="filterList(pokemon.types['type1'].name)">{{pokemon.types['type1'].name}}</button>
							<button class="btn-type {{pokemon.types['type2'].name}}" *ngIf="pokemon.types['type2']" (click)="filterList(pokemon.types['type2'].name)">{{pokemon.types['type2'].name}}</button>
						</div>
					</div>
			</div>
		</div>
	</div>



    <div class="popup-container" *ngIf="showPopup">
        <div class="top-half" [ngStyle]="{'background-color': getColorByType(selectedPokemon.types['type1'].name)}">
            <div class="exit-btn">
                <button class="close-button" (click)="closePopup()">
                    <img class="exit-img" src="assets\images\exit.png"/>
                </button>
            </div>
            <h2 class="pop-name">{{selectedPokemon.name}}</h2>
            <p class="pop-pokeid">{{selectedPokemon.pokeId}}</p>
            <img [src]="'assets/images/heartgold-soulsilver/' + selectedPokemon.id + '.png'" />
        </div>
        <div class="pop-poke-info">
            <p class="pop-weight">{{selectedPokemon.weight}} kg</p>
            <p class="pop-height">{{selectedPokemon.height}} cms</p>
            <p class="pop-type2" *ngIf="selectedPokemon.types['type2']">{{selectedPokemon.types['type2'].name}}</p>
            <p class="pop-type1">{{selectedPokemon.types['type1'].name}}</p>
        </div>
    </div>
</main>
