<header>
    <nav class="nav">
        <div class="header-imgs">
            <img src="assets\images\logo.png" width="200" alt="Logo Pokedex">
            <img class="gengar" src="assets\images\gengar.png" width="70" alt="Gengar">
        </div>
        <ul class="nav-list">
            <li class="nav-item"><button class="btn btn-header all" id="all">Show all</button></li>
            <li class="nav-item"><button class="btn btn-header normal" id="normal">Normal</button></li>
            <li class="nav-item"><button class="btn btn-header fire" id="fire">fire</button></li>
            <li class="nav-item"><button class="btn btn-header water" id="water">water</button></li>
            <li class="nav-item"><button class="btn btn-header grass" id="grass">grass</button></li>
            <li class="nav-item"><button class="btn btn-header electric" id="electric">electric</button></li>
            <li class="nav-item"><button class="btn btn-header ice" id="ice">ice</button></li>
            <li class="nav-item"><button class="btn btn-header fighting" id="fighting">fighting</button></li>
            <li class="nav-item"><button class="btn btn-header poison" id="poison">poison</button></li>
            <li class="nav-item"><button class="btn btn-header ground" id="ground">ground</button></li>
            <li class="nav-item"><button class="btn btn-header flying" id="flying">flying</button></li>
            <li class="nav-item"><button class="btn btn-header psychic" id="psychic">psychic</button></li>
            <li class="nav-item"><button class="btn btn-header bug" id="bug">bug</button></li>
            <li class="nav-item"><button class="btn btn-header rock" id="rock">rock</button></li>
            <li class="nav-item"><button class="btn btn-header ghost" id="ghost">ghost</button></li>
            <li class="nav-item"><button class="btn btn-header dark" id="dark">dark</button></li>
            <li class="nav-item"><button class="btn btn-header dragon" id="dragon">Dragon</button></li>
            <li class="nav-item"><button class="btn btn-header steel" id="steel">steel</button></li>
            <li class="nav-item"><button class="btn btn-header fairy" id="fairy">fairy</button></li>
        </ul>
        <div>
            <input type="text" name="PokeSearch" id="PokeSearch" placeholder="ID, Name, Type...">
        </div>
    </nav>
</header>
