@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-black: #1c1c1c;
    --clr-grey: #dedddd;
    --clr-white: #f7f7f7;

    --type-normal: #A8A878ec;
    --type-fire: #f9231897;
    --type-water: #6891f099;
    --type-grass: #78c850ec;
    --type-electric: #f1f10ed8;
    --type-ice: #98D8D8ec;
    --type-fighting: #f08030bb;
    --type-poison: #a14fa193;
    --type-ground: #967c33ec;
    --type-flying: #A890F0ec;
    --type-psychic: #f85888bb;
    --type-bug: #bbce0dec;
    --type-rock: #706f6eec;
    --type-ghost: #715898aa;
    --type-dark: #705848ec;
    --type-dragon: #f1a61cb7;
    --type-steel: #B8B8D0ec;
    --type-fairy: #e5b7bbec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

body {
    min-height: 100vh;
    background-color: var(--clr-grey);
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

input {
    width: 40vw;
    padding: 10px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    outline:none;
    border: 4px solid #CCD1E4;
    font-weight: 600;
}

main {
    padding: 2rem;
    max-width: 1300px;
    margin: 0 auto;
}

.normal {
    background: url(assets\images\types\normal.png);
    background-size: 110px;
    color: var(--clr-black);
    font-weight: 800;
}

.fire {
    background: url(assets\images\types\fire.png);
    background-size: 60px;
    color: var(--clr-white);
    font-weight: 600;
}

.water {
    background: url(assets\images\types\water.png);
    background-size: 120px;
    color: var(--clr-white);
    font-weight: 600;
}

.grass {
    background: url(assets\images\types\grass.png);
    background-size: 100px;
    color: var(--clr-black);
    font-weight: 800;
}

.electric {
    background: url(assets\images\types\electric.jpg);
    background-size: 100px;
    background-position: -2px;
    color: var(--clr-black);
    font-weight: 800;
}

.ice {
    background: url(assets\images\types\ice.jpg);
    background-size: 100px;
    color: var(--clr-white);
    font-weight: 600;
}

.fighting {
    background: url(assets\images\types\fighting.jpg);
    background-size: 90px;
    background-position: -3px;
    color: var(--clr-black);
    font-weight: 800;
}

.poison {
    background: url(assets\images\types\poison.jpg);
    background-size: 100px;
    color: var(--clr-white);
    font-weight: 600;
}

.ground {
    background: url(assets\images\types\ground.jpg);
    background-size: 100px;
    color: var(--clr-white);
    font-weight: 600;
}

.flying {
    background: url(assets\images\types\flying.jpg);
    background-size: 80px;
    color: var(--clr-black);
    font-weight: 800;
}

.psychic {
    background: url(assets\images\types\psychic.jpg);
    background-size: 130px;
    color: var(--clr-white);
    background-position: -90px;
    font-weight: 600;
}

.bug {
    background: url(assets\images\types\bug.jpg);
    background-size: 30px;
    color: var(--clr-black);
    font-weight: 800;
}

.rock {
    background: url(assets\images\types\rock.jpg);
    background-size: 110px;
    background-position: -50px;
    color: var(--clr-white);
    font-weight: 600;
}

.ghost {
    background: url(assets\images\types\ghost.png);
    background-size: 120px;
    background-position: 30px;
    color: var(--clr-white);
    font-weight: 600;
}

.dark {
    background: url(assets\images\types\dark.jpg);
    background-size: 100px;
    color: var(--clr-white);
    font-weight: 600;
}

.dragon {
    background: url(assets\images\types\dragon.jpg);
    background-size: 160px;
    color: var(--clr-white);
    font-weight: 600;
}

.steel {
    background: url(assets\images\types\steel.jpg);
    background-size: 800px;
    color: var(--clr-black);
    font-weight: 800;
}

.fairy {
    background: url(assets\images\types\fairy.jpg);
    background-size: 120px;
    color: var(--clr-black);
    font-weight: 800;
}

.all {
    background-color: var(--clr-black);
    color: var(--clr-white);
    font-weight: 600;
}

/* ============Background Colors============= */

.normal-back {
    background-color: var(--type-normal);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.fire-back {
    background-color: var(--type-fire);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.water-back {
    background-color: var(--type-water);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.grass-back {
    background-color: var(--type-grass);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}


.electric-back {
    background-color: var(--type-electric);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}  

.ice-back {
    background-color: var(--type-ice);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.fighting-back {
    background-color: var(--type-fighting);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.poison-back {
    background-color: var(--type-poison);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.ground-back {
    background-color: var(--type-ground);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.flying-back {
    background-color: var(--type-flying);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.psychic-back {
    background-color: var(--type-psychic);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.bug-back {
    background-color: var(--type-bug);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.rock-back {
    background-color: var(--type-rock);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.ghost-back {
    background-color: var(--type-ghost);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.dark-back {
    background-color: var(--type-dark);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.dragon-back {
    background-color: var(--type-dragon);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.steel-back {
    background-color: var(--type-steel);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}

.fairy-back {
    background-color: var(--type-fairy);
    background-position: 10px -75px;
    background-image: url(assets\images\pokeball.png);
    background-repeat: no-repeat;
}
